{% set title %}
{% filter translate %}
  Test post
{% endfilter %}
{% endset %}

{% set shortdesc %}
{% filter translate %}
  This is the hello message of the blogpost
{% endfilter %}
{% endset %}

{% set link = "blog/1.html" %}

{% set date = "2018-1-10" %}

{% set content %}
{% filter translate %}
  Este es el blogpost que blablabla blablabla
  <i>cursiva</i>
  ``` html
  <i> cursiva en code </i>
  ```
{% endfilter %}
{% endset %}

{{ content | markdown }}
